* {/*sets everything to default*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {/*changes background color to hexadecimal rgb value*/
    background-color: #d9dcd6;
}

header {/*header receives padding, change in font, background color to hexadecimal rgb value, and color of text to hexadecimal rgb value*/
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {/*Sets header's font size, alines text, text color to hexadecimal rgb value*/
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}


header nav {/*creates a navbar using the font family and size. creates correct spacing between each element*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {/*creates spacing between nav bar elements*/
    display: inline-block;
    margin-left: 25px;
}

a {/*sets the anchor text white*/
    color: #ffffff;
    text-decoration: none;
}

p {/*sets paragraph text size to 16*/
    font-size: 16px;
}

.hero{/*creates center image to cover area*/
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./Images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {/*moves images to left with some spacing*/
    float: left;
    margin-right: 25px;
}

.float-right {/*moves images to left with some spacing*/
    float: right;
    margin-left: 25px;
}

.content {/*sets all items in content to smaller width and applies margin*/
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {/*creates basic format for icons on the right side of page*/
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit{/*combined benefits into 1 since all same function*/
    margin-bottom: 32px;
    color: #ffffff;/*text color to white*/
}

.benefit h3 {/*combined benefits into 1 since all same function*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {/*combined benefits into 1 since all same function*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.icons {/*combined benefits into 1 since all same function*/
    /*change text family and color, background color change for text on center left*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.icons img {/*sets max height of image*/
    max-height: 200px;
}

.icons h2 {/*sets font size of text and margins*/
    margin-bottom: 20px;
    font-size: 36px;
}

footer {/*sets up footer*/
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {/*footer text to 20px*/
    font-size: 20px;
}
